html {
    height: 100%;
    background: url(../images/WTFIFA.jpg) no-repeat center center;
    background-size: 100% auto;
}

h2 {
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  color: #E6E6E6;
  font-size: 540%;
  text-align: left;
  text-shadow: 8px 14px 8px rgba(0,0,0,0.3);
  margin: auto;
  margin-left: 30px;
}

h1 {
  font-family: 'Syncopate', sans-serif;
  font-weight: 700;
  color: White;
  font-size: 970%;
  text-align: left;
  text-shadow: 15px 25px 16px rgba(0,0,0,0.3);
  margin: auto;
  margin-left: 30px;
}

h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: #E6E6E6;
  font-size: 200%;
  margin: auto;
}

h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: White;
  font-size: 180%;
  margin: auto;
}

p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 400;
  color: White;
  font-size: 100%;
}

#form1 {
  width: 610px;
  border-radius: 15px;
  color: 255, 255, 255, 1;
  text-align: center;
  text-shadow: 8px 14px 8px rgba(0,0,0,0.3);
  background-color: rgba(0, 0, 0, .4);
  border: black 2px solid;
  padding: 2px;
  margin: auto;
  margin-left: 30px;
}

.left1 {
  display: inline-block;
  float: left;
  width: 260px;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.right1 {
  display: inline-block;
  border-left-style: solid;
  border-color: white;
  float: right;
  width: 260px;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
}

button {
  border: 0;
  background: #FF0000;
  border-radius: 15px;
  box-shadow: 5px 2px 2px #000000;
  color: #fff;
  cursor: pointer;
  font: inherit;
  font-size: 32;
  margin: 10px;
  outline: 5px;
  padding: 10px 16px;
  transition: all .ls linear;
}

button:hover {
  background: #CC0000;
  background-image: -webkit-linear-gradient(top, #CC0000);
  background-image: -moz-linear-gradient(top, #CC0000);
  background-image: -ms-linear-gradient(top, #CC0000);
  background-image: -o-linear-gradient(top, #CC0000);
  background-image: linear-gradient(to bottom, #CC0000);
  text-decoration: none;
}

button:active {
  box-shadow: 0 2px 0 #000000;
  transform: translateY(3px);
}

select {
  border: 0;
  border-radius: 2px;
  box-shadow: 5px 2px 2px #000000;
  cursor: pointer;
  font-size: 48;
  font: inherit;
  background-color: #E6E6E6;
}

.card-container {

}

.card {
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}

.card .front {
  backface-visibility: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card .back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

footer {
font-family: 'Open Sans Condensed', sans-serif;
font-weight: 400;
color: White;
font-size: 80%;
position: absolute;
bottom: 0;
}

a:link {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: underline;
}

a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover (
  color: #FFFFFF;
  text-decoration: none;
}

a:active {
  color: #FFFFFF;
  text-decoration: none;
}

